t/01-splash.pl
pod_extract.pl
examples/multiprocessing/many_boxes.pl
examples/multiprocessing/many_ellipses.pl
examples/multiprocessing/many_lines.pl
examples/multiprocessing/mcechnl_primitives.pl
examples/multiprocessing/mcehobo_primitives.pl
examples/multiprocessing/mcehobo_slideshow.pl
Makefile
Makefile.pl
Makefile.old
_Inline
blib
src/Splash.pm
fix
build
pm_to_blib
MYMETA.*
*.inl
*~
